<h2><%= @article.title %></h2>
<p><%= @article.content %></p>

<%= link_to "Edit this article", edit_article_path(@article) %>

<%= link_to "Delete #{@article.title}",
            article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

<%= link_to "Back to the list of article", articles_path %>
